* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(255, 202, 138);
}

body {
  font-family: "Balsamiq Sans", cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 8vw, 5rem);
}

.container {
  background-color: var(--color-primary);
  padding: 3rem;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  width: min(600px, 90%);
  /* width: 80%;
  max-width: 600px; */
  height: min(500px, 90%);
}

.ballsInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: clamp(3rem, 13vw, 5rem);
}

.minus-icon {
  margin: auto 0;
  margin-right: 1rem;
  font-size: inherit;
}

.plus-icon {
  margin: auto 0;
  margin-left: 1rem;
  font-size: inherit;
}

.ballsOutput {
  text-align: center;
}

.outputText1 {
  margin: 1rem 0 0.5rem 0;
  font-size: clamp(1.3rem, 6vw, 5rem);
}

.outputText {
  margin-bottom: 0.3rem;
}
.ballsNumberText {
  font-size: clamp(1rem, 7vw, 5rem);
  text-decoration: underline dotted;
}
